<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ApiFP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  	<!--MAIL SERVICE-->
    <add key="SMTP_HOST" value="smtp.sendgrid.net" />
    <add key="SMTP_PORT" value="25" />
    <add key="SMTP_USER" value="apikey" />
    <add key="SMTP_PASSWORD" value="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" />
    <add key="EMAIL_SSL" value="N" />
    <add key="EMAIL_FROM" value="info@portalproveedores.com" />
    <add key="EMAIL_DISPLAY_NAME" value="portalproveedores" />
    <add key="USE_SMTP" value="Y" /><!--whit N use sendgrid api-->
    
    
    <add key="SENDGRID_APIKEY" value="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" />
    <!--###################-->
    
    <add key="as:AudienceId" value="2675607e774a4dd3b652d2907da498a0" />
    <add key="as:AudienceSecret" value="k6v1Td5hrX1VRtwYWKLvqsUIPbnUUI/a+VwZ7TUgtRo=" />
  
    <add key="customJwtFormatIssuer" value="http://localhost:60814/" />
    
    <add key="log4net.Internal.Debug" value="true" />
    
    <add key="URL_CONFIRMA_ACCOUNT" value="http://portalproveedoresfacturas.com.ar/Portal/confirm.html" />
    <add key="QTY_MULTIPLE_DOWNLOADS_CC" value="2" />
        
    <!--URL PUBLICA PARA RECUPERAR ARCHIVOS-->
    <add key="ENCRYPTION_KEY_URL_FILE" value="aaefa5fb4d324e899650bc99a769215f" />
    <add key="BASE_URL_FILE" value="http://portalproveedoresfacturas.com.ar/archivos/id?encid=" />
    <add key="URL_ERROR" value="http://portalproveedoresfacturas.com.ar/Portal/Error.html" />
    <!--###################-->

    <!--FILE SYSTEM STORAGE-->
    <add key="FSS_CURRENT_VOLUME" value="VOL01" />
    <add key="FSS_CURRENT_PATH_TYPE" value="ABSOLUTE" /><!--ABSOLUTE - RELATIVE-->    
    <add key="FSS_VOLUME_VOL01_ABSOLUTE" value="D:\Desarrollo\PortalProveedores\Storage\Vol01\" />
    <add key="FSS_VOLUME_VOL01_RELATIVE" value="Storage\Vol01\" />
    <!--###################-->
    
    <!--GOOGLE CLOUD STORAGE-->
    <add key="GCS_PROJECT_ID" value="portalproveedores-test" />
    <add key="GCS_BUCKET_NAME" value="bucket-ppf-01" />
    <add key="GCS_CRED_FILE" value="portalproveedores-test-1aaaff0afbc9.json" />
    <!--###################-->
    
    <!--SISTEMA DE STORAGE POR DEFECTO-->
    <!--FSS (FILE_SYSTEM_STORAGE)-->
    <!--GCS (GOOGLE_CLOUD_SYSTEM_STORAGE)-->    
    <add key="DEFAULT_STORAGE_SERVICE_TYPE" value="FSS" />
    <!--###################-->
      
    <!--PARAMETROS PARA PARSEO DE PDF-->
    <add key="PALABRA_CLAVE_CUIT" value="CUIT" />
    <add key="PALABRA_CLAVE_TIPO" value="original" />
    <add key="PALABRA_CLAVE_PUNTO_DE_VENTA" value="Punto de Venta" />
    <add key="PALABRA_CLAVE_COMPROBANTE" value="Comp.Nro" />
    <add key="PALABRA_CLAVE_IMPORTE_TOTAL" value="Importe Total:" />
    <add key="PALABRA_CLAVE_IVA" value="IVA 21" />
    <add key="PALABRA_CLAVE_GRAVADO" value="Gravado" />
    <add key="PALABRA_CLAVE_PERCEPCION" value="Percepci" />
    <add key="PALABRA_CLAVE_FECHA" value="Fecha de Emisi" />
    <add key="CARACTERES_OMITIDOS" value=" :" />
    <add key="SEPARADOR_DETALLE" value="|" />
    <add key="DETALLE_REGEX_PATTERN" value="^[0-9,% ]*$" />
    <add key="DETALLE_OMITIR_PALABRAS" value="(unidades|Bs As|Subtotal|Precio|kWh|P.Unit.|Fondo Fiduciario|computarse|único cup|implica|facturado mensual|equivalente a|Estimado|AHORRE|INGRESE|OPERAR|PODRÁ|\w{2}\s\d{7}|\d{2}\/\d{2}|\A(\d+(\.\d+)?(\s+)?)+\Z|\s=\s)" />
    <add key="PALABRA_FIN_DETALLE" value="Otros Tributos" />
    <add key="SEPARADOR_INICIO_DETALLE" value="|" />
    <add key="INICIO_DETALLE" value="U. medida|^IVA" />
    <add key="NUMEROS_AL_FINAL_PATTERN" value="(( [0-9]+ ?\%)?( [0-9]+,[0-9]+)){2,}$" />
    <add key="CANTIDAD_DIGITOS_PUNTO_VENTA" value="5"/>
    <add key="PALABRA_DOMICILIO_COMERCIAL" value="Domicilio Comercial:" />
    
    <!--###################-->
    <add key="SEPARADOR_CSV" value=";" />  
  
  
  <!--########################################-->
  <!--PARAMETROS AFIP CONSULTA INSCRIPCION ###-->
    <add key="CERTIFICATE_HOMO_PATH" value=""/>
    <add key="CERTIFICATE_PROD_PATH" value="/cert/Sarsy_PFP_PROD.pfx"/>
    <add key="WSAA_PROD_URL" value="https://wsaa.afip.gov.ar/ws/services/LoginCms"/>
    <add key="WSAA_HOMO_URL" value="https://wsaahomo.afip.gov.ar/ws/services/LoginCms"/>
    <add key="WSCI_PROD_URL" value="https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="WSCI_HOMO_URL" value="https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5"/>
    <add key="WSFE_PROD_URL" value="https://servicios1.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="WSFE_HOMO_URL" value="https://wswhomo.afip.gov.ar/wsfev1/service.asmx"/>
    <add key="CLAMASA_CUIT" value="30715293044"/> <!--sarsy cuit-->
  
    <add key="WS_AFIP_CLIENT_TIMEOUT" value="30000"/>
  <!--########################################-->
    <add key="ENCRYPT_KEY" value="AULSX56oukCAjM+nXk+y" />
    <add key="URL_RECOVERED_ACCOUNT" value="http://portalproveedoresfacturas.com.ar/Portal/account-recovered.html" />
  
  <!-- Pass para desincriptar los id en la importacion de facturas -->
    <add key="PASS_ENCRYPTER" value="db0f037cdfb045d3a3b2be38d4022a76"/>
      
  </appSettings>

  <connectionStrings>
    <!--<add name="DefaultConnection" connectionString="Data Source=DIEGO_LAPTOP\MSSQLSERVER16;Initial Catalog=DBProveedores;User ID=testUser;Password=1234" providerName="System.Data.SqlClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=wa2.toservers.com;Initial Catalog=salviam2_DBPortalProveedores;User ID=salviam2_sa;Password=$4rsy2019" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source=192.168.0.55;Initial Catalog=DBProveedores;User ID=testUser;Password=1234" providerName="System.Data.SqlClient" />
    <add name="AfipWsConnectionString" connectionString="Data Source=192.168.0.55;Initial Catalog=DBProveedores;User ID=testUser;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />        
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.38.0.0" newVersion="1.38.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.8.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer><applicationSettings>
    <ApiFP.Properties.Settings>
      <setting name="ApiFP_Wsaa_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="ApiFP_Wsci_PersonaServiceA5" serializeAs="String">
        <value>https://awshomo.afip.gov.ar/sr-padron/webservices/personaServiceA5</value>
      </setting>
      <setting name="ApiFP_Wsfe_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
    </ApiFP.Properties.Settings>
  </applicationSettings>
</configuration>