<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PALABRA_CLAVE_CUIT" value="CUIT" />
    <add key="PALABRA_CLAVE_TIPO" value="ORIGINAL" />
    <add key="PALABRA_CLAVE_PUNTO_DE_VENTA" value="Punto de Venta" />
    <add key="PALABRA_CLAVE_COMPROBANTE" value="Comp.Nro" />
    <add key="PALABRA_CLAVE_IMPORTE_TOTAL" value="Importe Total:" />
    <add key="PALABRA_CLAVE_IVA" value="IVA 21" />
    <add key="PALABRA_CLAVE_GRAVADO" value="Gravado" />
    <add key="PALABRA_CLAVE_PERCEPCION" value="Percepci" />
    <add key="PALABRA_CLAVE_FECHA" value="Fecha de Emisi" />
    <add key="CARACTERES_OMITIDOS" value=" :" />
    <add key="SEPARADOR_DETALLE" value="|" />
    <add key="DETALLE_REGEX_PATTERN" value="[0-9]{1,},[0-9]{1,}" />
    <add key="PALABRA_FIN_DETALLE" value="Otros Tributos" />
  
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>